@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lexend+Zetta:wght@100..900&family=Prata&family=Reddit+Mono:wght@200..900&display=swap');

a {
    text-decoration: none;
}

:root {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease 1s;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 10vh;
    right: 1vh;
    width: 50px;
    height: 50px;

    background-color: rgb(255, 255, 255);
    border-width: 0;
    filter: drop-shadow(4px 4px 0px #dadada);
}

.burger-menu:active {
    filter: drop-shadow(-4px -4px 0px #f7e1f1);
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 10;
    bottom: 2vh;
    left: 2vw;

    border-radius: 50px;
    background-color: white;
    filter: drop-shadow(1px 1px 4px #dadada);
}

.tag p {
    font-family: 'Prata', Times, serif;
    font-size: 0.9rem;
}

.tag img {
    width: 30px;
    margin-bottom: 2px;
}

.tag-link a {
    color: #c46385;
    transition: ease-in-out 0.15s;
}

.tag-link a:hover {
    text-decoration: underline;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.nav-heading {
    font-family: serif;
    font-size: 3rem;
    color: #D49465;
    cursor: pointer;
    margin-right: 150px;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 28px;
    margin-right: 40px;
}

.menu-button,
.contact-button {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.menu-button::after,
.contact-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.menu-button:hover::after,
.contact-button:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.menu-button,
.contact-button {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: bold;
}

.menu-button,
.contact-button {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-width: 0;
    font-size: 1rem;
    cursor: pointer;
}

.contact-button {
    color: #000000;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: end;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.978);
    opacity: 0;
    transform: translateX(100%);
    transition: ease 2s;

}

.sidebar.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
}

.sidebar .seperator {
    align-self: center;

    height: 80vh;
    width: 300px;
    margin-right: 200px;

    border-left-width: 1px;
    border-left-color: white;
    border-left-style: solid;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;

    gap: 28px;

    font-family: "Lexend Zetta", sans-serif;
    font-weight: bold;
    list-style-type: none;
    color: white;
}

.sidebar .menu li {
    cursor: pointer;
}

.sidebar .menu li a {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.2em 0;
    color: white;
}

.sidebar .menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.sidebar .menu li a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

main {
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: 50px;
    flex-wrap: wrap;
    align-self: center;
}

header img {
    width: 550px;
}

.headings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-family: "Prata", serif;
    font-weight: lighter;
    color: #D49465;
    margin: 0;
}

.heading .theshulamite {
    font-size: 6.5rem;
}

.heading .bride {
    font-size: 3.6rem;
    margin-right: 80px;
    align-self: flex-end;
}

.headings-about {
    align-self: flex-start;
    margin-left: 50px;
}

.headings-about h3 {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 500;
}

.headings-about p {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    max-width: 450px;
}

.est {
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 300;
    align-self: flex-start;
    margin-left: 120px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    margin-top: 200px;
    width: 100%;
}

.about h2 {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 6.5rem;
    color: #000000;
    margin: 0;
}

.about .sub-heading {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    max-width: 500px;
    min-width: 300px;
}

.about .main-paragraph {
    font-family: "Reddit Mono", monospace;
    font-size: 1.2rem;
    max-width: 550px;
    min-width: 300px;
}

.about img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    object-fit: cover;
    width: 600px;
    height: 600px;
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 25px;
    margin-top: 150px;
}

.introduction h2 {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 6.5rem;
    color: #000000;
    margin: 0;
    align-self: flex-start;
}

#player {
    align-self: start;
    width: 800px;
    height: 600px;
}

.introduction-information {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.introduction-text {
    display: flex;
    flex-direction: column;
}

.introduction-text img {
    width: 100px;
    margin-top: 20px;
}

.introduction-bold-text {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    max-width: 530px;
}

.introduction-regular-text {
    font-family: "Reddit Mono", monospace;
    font-size: 1.2rem;
    max-width: 530px;
}

.introduction-text a {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    font-size: 1rem;
    color: #D49465;
}

.introduction-text a:hover {
    text-decoration: underline;
}

.featured-posts {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    gap: 50px;
}

.posts {
    width: max(350px, 100%);

    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(320px, 1fr);
}

.featured-posts h2 {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 6.5rem;
    color: #000000;
    margin: 0;
}

.post {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    transition: ease-in-out 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post:hover {
    filter: drop-shadow(4px 4px 4px #dadada);
}

.post img {
    width: 280px;
}

.post h3 {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0;
    text-align: center;
}

.post p {
    font-family: "Reddit Mono", monospace;
    font-size: 1.1rem;
    width: 280px;
    text-align: center;
}

.post a {
    font-family: "Reddit Mono", monospace;
    font-weight: bold;
    font-size: 1rem;
    color: #D49465;
}

.post a:hover {
    text-decoration: underline;
}

.prophetic-messages {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
    width: 100%;
}

.prophetic-messages h2 {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 6.5rem;
    color: #000000;
    margin: 0;
    align-self: flex-start;
}

footer {
    display: flex;
    margin-top: 130px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

footer .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

footer .footer-text h2 {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 6.5rem;
    color: #000000;
    margin: 0;
    align-self: flex-start;
}

footer .footer-text .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-text .links h3 {
    font-family: "Prata", serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

footer .footer-text .links a {
    font-family: "Prata", serif;
    font-size: 1.2rem;
    color: #D49465;
}

footer .footer-text .links a:hover {
    text-decoration: underline;
}

footer .footer-text .links .link {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-images {
    display: flex;
    align-items: end;
    position: relative;
}

.footer-images .lavern-img {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;

    border-width: 2px;
    border-style: solid;
    border-color: white;

    position: absolute;
    right: 200px;
    margin-bottom: 40px;
    z-index: 2;

}

.footer-images .flower-wall-img {
    width: 400px;
    height: 800px;
    object-fit: cover;
}

@media(max-width: 1410px) {
    header {
        justify-content: center;
    }

    .about {
        justify-content: center;
    }

    .introduction-information {
        justify-content: center;
    }

    .introduction h2 {
        align-self: center;
    }
}

@media(max-width: 995px) {
    .footer-images {
        margin-left: 200px;
    }
}

@media(max-width: 950px) {

    nav {
        justify-content: center;
    }

    .nav-heading {
        margin-right: 0;
    }

    .heading .theshulamite,
    .about h2,
    .introduction h2,
    .featured-posts h2,
    .prophetic-messages h2,
    footer .footer-text h2 {
        font-size: 4.5rem;
    }

    header img {
        width: 400px;
    }

    header,
    .about,
    .introduction,
    .featured-posts,
    .prophetic-messages,
    footer {
        margin-top: 50px;
    }

    .about img {
        width: 400px;
        height: 400px;
    }

    .sidebar .seperator {
        margin-right: 0px;
    }

    .introduction-information{
        gap: 10px;
    }

    #player {
        width: 600px;
        height: 400px;
    }
}

@media(max-width: 650px) {

    .about h2,
    .introduction h2,
    .featured-posts h2,
    .prophetic-messages h2,
    footer .footer-text h2 {
        font-size: 3rem;
    }

    header {
        gap: 10px;
    }

    .heading .bride {
        font-size: 2rem;
        margin-right: 40px;
    }

    .heading {
        margin-bottom: 20px;
    }

    header img {
        width: 100%;
    }

    .about img {
        width: 300px;
        height: 300px;
    }

    #player {
        width: 100%;
        height: 300px;
    }

    .footer-images {
        margin-left: 100px;
    }

    .footer-images .lavern-img {
        width: 200px;
        height: 200px;

        position: absolute;
        right: 100px;
        margin-bottom: 40px;
        z-index: 2;

    }

    .footer-images .flower-wall-img {
        width: 200px;
        height: 400px;
        object-fit: cover;
    }

    .posts {
        width: max(300px, 100%);
        grid-template-rows: repeat(2, minmax(350px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    footer .footer-text .links h3 {
        font-size: 1rem;
    }

    footer .footer-text .links a {
        font-size: 0.9rem;
    }

    nav {
        justify-content: center;
    }

    .nav-heading {
        margin-right: 0px;
    }
}

@media(max-width: 565px) {

    .sidebar .seperator {
        height: 100vh;
        margin-right: 0px;
    }

    .sidebar .menu{
        margin-top: 100px;
    }

    .about,
    .introduction,
    .featured-posts,
    .prophetic-messages,
    footer {
        margin-top: 100px;
    }

    header {
        margin-top: 0;
    }

    header .headings-about h3 {
        font-size: 0.9rem;
    }

    header .headings-about p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .about .sub-heading {
        font-size: 1rem;
    }

    .about .main-paragraph {
        font-size: 1rem;
    }

    .introduction-bold-text {
        font-size: 1rem;
    }

    .introduction-regular-text {
        font-size: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
    }

    .nav-heading {
        font-size: 11vw;
    }

    nav ul {
        gap: 15px;
        margin: 0px;
        padding: 0;
    }

    .heading .theshulamite {
        font-size: 3rem;
    }

    .headings-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .headings-about {
        margin-left: 0;
    }

    .introduction h2 {
        align-self: flex-start;
    }

    .introduction-information {
        flex-direction: column;
        align-items: flex-start;
    }

    .post h3 {
        font-size: 1.1rem;
    }

    .post p {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
    }

    .footer-images {
        align-self: flex-end;
    }

    .sidebar {
        transition: ease 1s;
    }
}

@media(max-width: 400px) {
    .nav-heading {
        font-size: 11vw;
    }

    .tag p {
        font-size: 0.8rem;
    }

    .tag img {
        width: 25px;
        margin-bottom: 2px;
    }

    .heading .theshulamite,
    .prophetic-messages h2 {
        font-size: 2.9rem;
    }

    .about img {
        width: 280px;
        height: 280px;
    }

    .footer-images .flower-wall-img {
        width: 190px;
    }

    #player {
        width: 100%;
        height: 200px;
    }


}
