@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lexend+Zetta:wght@100..900&family=Prata&family=Reddit+Mono:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

a {
    text-decoration: none;
}

:root {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.nav-heading {
    font-family: serif;
    font-size: 3rem;
    color: #D49465;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    white-space: nowrap;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    z-index: 10;
    bottom: 2vh;
    left: 2vw;

    border-radius: 50px;
    background-color: white;
    filter: drop-shadow(1px 1px 4px #dadada);
}

.tag p {
    font-family: 'Prata', Times, serif;
    font-size: 0.9rem;
}

.tag img {
    width: 30px;
    margin-bottom: 2px;
}

.tag-link a {
    color: #c46385;
    transition: ease-in-out 0.15s;
}

.tag-link a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease 1s;
}

main {
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.post-image {
    width: 300px;
}

.post-title {
    font-family: "Prata", serif;
    font-weight: lighter;
    font-size: 4.5rem;
    margin: 0;
    max-width: 800px;
    text-align: center;
}

.title-and-audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progressBar {
    height: 10px;
    background-color: black;
}

.progressBarContainer {
    height: 10px;
    width: 116px;
}

.image-and-audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.audioPlayerContainer {
    width: 117px;
    height: 40px;
}

.audioPlayerContainer img {
    width: 20px;
    height: 20px;
}

.text-body {
    margin-top: 50px;
    max-width: 900px;
}

.post-text,
.post-text-message {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    line-height: 30px;
}

.post-text-message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    margin-top: 20px;
    margin-bottom: 50px;

    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
}

.footer_coloumn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

.link {
    font-family: "Prata", serif;
    color: black;
    cursor: pointer;
    transition: ease-in 0.15s;
}

.link:hover {
    text-decoration: underline;
}

@media(max-width: 565px) {
    .tag p {
        font-size: 0.8rem;
    }

    .tag img {
        width: 25px;
        margin-bottom: 2px;
    }

    .nav-heading {
        font-size: 2.5rem;
    }

    .post-title {
        font-size: 3rem;
    }

    .post-image {
        width: 250px;
    }

    .post-text,
    .post-text-message {
        font-size: 0.8rem;
    }

    footer {
        margin-bottom: 100px;
    }

    .link {
        font-size: 0.8rem;
    }
}

@media(max-width: 400px){
    .nav-heading {
        font-size: 2rem;
    }

    .post-title {
        font-size: 2.5rem;
    }
}